*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html, body{
  width: 100%;
  height: 100%;
}
header{
  background-color: #79CEA5;
  padding: 2vh;
  display: flex;
    justify-content: space-between;
        align-items: center;
}

nav a{
      color: #000;
  text-decoration: none;
    font-size: 1.2rem;
    margin-left: 10vh;
}
nav a:hover{
  text-decoration: underline;
}
.logo img{
  width: 25vh;
}
footer{
  background-color: pink;
  text-align: center;
  color: #000;
}
main{
  background-color: antiquewhite;
}