*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  width:100%;
  height:100%;
}

header{
  background-color:#79CEA5;
  padding:15px 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}

.logo img{
  width:150px;
  max-width:100%;
  height:auto;
}

nav{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

nav a{
  color:#000;
  text-decoration:none;
  font-size:1.2rem;
}

nav a:hover{
  text-decoration:underline;
}
.dropdown{
    position:relative;
}

.submenu{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color:#79CEA5;
    min-width:180px;
    padding:10px 0;
    border-radius:5px;
}

.submenu a{
    display:block;
    padding:10px 15px;
    text-decoration:none;
    color:black;
}

.submenu a:hover{
    background-color:#5db98d;
}

.dropdown:hover .submenu{
    display:block;
}
main{
  min-height:90vh;
  background-color: antiquewhite;
    min-height: 90vh;
    padding: 20px;

}
#cuadro{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1000px;
margin: 0 auto;
}

#cuadro p{
    text-align: justify;
    padding: 2px;
    width: 100%;
}

footer{
  background-color:pink;
  text-align:center;
  color:#000;
  padding:15px;
}

/* Imagen principal */
#case{
  display:flex;
  justify-content:center;
  padding:20px;
}

#case img{
  width:100%;
  max-width:700px;
  height:auto;
  border-radius:10px;
}

/* Jugadores */
#jugadores, #jugadoresatm{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  padding:20px;
}

#jugadores img, #jugadoresatm img{
  width:250px;
  max-width:90%;
  height:auto;
  border-radius:10px;
}

h1{
  font-size:1.5rem;
  text-align:center;
  
}
.dropdown{
    position:relative;
}

.submenu{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#79CEA5;
    min-width:180px;
}

.dropdown:hover .submenu{
    display:block;
}

/* Móviles */
@media (max-width:768px){

    nav{
        flex-direction:column;
        width:100%;
        align-items:center;
    }

   
  header{
    flex-direction:column;
    gap:15px;
  }

  nav{
    justify-content:center;
  }

  nav a{
    font-size:1rem;
  }

  .logo img{
    width:120px;
  }

  #jugadores img{
    width:180px;
  }
  #case img{
  width:100%;
  max-width:1200px;
  height:auto;
  border-radius:10px;
}


  h1{
    font-size:1.2rem;
  }
}