*{
   margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

html,body{
  width:100%;
  height:100%;
}

header{
  background-color:#79CEA5;
  padding:15px 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo img{
  width:150px;
  max-width:100%;
  height:auto;
}

nav{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

nav a{
  color:#000;
  text-decoration:none;
  font-size:1.2rem;
}

nav a:hover{
  text-decoration:underline;
}

main{
  min-height:90vh;
  background-color: antiquewhite;
    
}
.otros{
  

    width: 250px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    transition: .3s;
}

.otros:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
.otros a{
    width: 100%;
    height: 100%;
 color:#000;
  text-decoration:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#caja{
  display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  padding: 20px;
}
#cuadro{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1000px;
margin: 0 auto;
}
.otros img{
    width:120px;
  height:120px;
  object-fit: contain;
}
.otros p{
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
#cuadro p{
    text-align: justify;
    padding: 2px;
    width: 100%;
}

footer{
  background-color:pink;
  text-align:center;
  color:#000;
  padding:15px;
}

/* Imagen principal */
#case{
  display:flex;
  justify-content:center;
  padding:20px;
}

#case img{
  width:100%;
  max-width:700px;
  height:auto;
  border-radius:10px;
}

/* Jugadores */


h1{
  font-size:1.5rem;
  text-align:center;
  
}



/* Móviles */
@media (max-width:768px){

    nav{
justify-content: center;      
    }

   
  header{
    flex-direction:column;
    gap:15px;
  }

  nav{
    justify-content:center;
  }

  nav a{
    font-size:1rem;
  }

  .logo img{
    width:120px;
  }

 
  #case img{
  width:100%;
  max-width:1200px;
  height:auto;
  border-radius:10px;
}


  h1{
    font-size:1.2rem;
  }
}



.contenedor{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:30px;

    width:90%;

    margin:auto;

}




/* Título */

h1{
    text-align:center;
    margin:40px 0;
    font-size:3rem;
    color:#222;
}

/* Contenedor */

.contenedor{

    width:90%;
    margin:auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:35px;

    padding-bottom:50px;

}

/* Tarjeta */

.card, .cardatm{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 15px 35px rgba(0,0,0,.12);

    transition:.35s;

    cursor:pointer;

    position:relative;

}

.card:hover, .cardatm:hover{

    transform:translateY(-12px);

    box-shadow:0 25px 50px rgba(0,0,0,.25);

}

/* Imagen */

.card img{

    width:100%;

    height:340px;

    object-fit:cover;

    background:linear-gradient(160deg,#004D98,#A50044);

}
.cardatm img{

    width:100%;

    height:340px;

    object-fit:cover;

    background:linear-gradient(160deg,#f0f0f1,#A50044);

}

/* Información */

.info{

    padding:20px;

}

.info h2{

    text-align:center;

    margin-bottom:15px;

    color:#111;

    font-size:1.7rem;

}

.info p{

    margin:10px 0;

    color:#555;

    font-size:1rem;

    display:flex;

    align-items:center;

    gap:10px;

}

/* Botón */

.info button{

    width:100%;

    margin-top:20px;

    padding:12px;

    border:none;

    border-radius:10px;

    background:#004D98;

    color:white;

    font-size:1rem;

    cursor:pointer;

    transition:.3s;

}

.info button:hover{

    background:#A50044;

}
